.{
    width: 100vw;
}

@media (max-width: 768px) {
    .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      }

    nav {
        overflow-wrap: break-word;
    }

    header h2 {
        font-weight: 700;
        font-size: 20px;
    }

    header h3 {
        font-weight: 100;
        font-size: 18px;
        padding: 20px;
    }

    header p {
        font-weight: 400;
        font-size: 16px;
    }

    nav h3 {
        font-size: 18px;
    }

    a {
        font-size: 14px;
     }


    p {
        font-size: 15px;
    }

    Table thead th {
    font-size: 18px;
    }

}

@media (max-width: 425px) {

    .left, .main, .right {
        width: 100%; 
    }

    nav {
        
          overflow-wrap: break-word;
    }

    header h2 {
        font-weight: 400;
        font-size: 15px;
    }

    header h3 {
        font-weight: 100;
        font-size: 10px;
    }

    header p {
        font-weight: 400;
        font-size: 10px;
    }
   

    nav h3 {
        font-size: 12.5px;
    }

    a {
        font-size: 9px;
     }


    p {
        font-size: 13px;
    }

    Table thead th {
        font-size: 15px;
    }
}

html {
    font: sans-serif;
    background-color: white;
    padding: 15px;
}

header {
    display: block;
    width: 100%;
    background-color: #AF094D;
    padding: 10px;
    color: white;
    text-align: center;
}

nav {
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
    border: solid 3px #FF006A;
    margin: 10px;
    background-color: #FFE2EE;
   
}

li {
    list-style-type: none
}

header h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 35px;
}

header h3 {
    font-family: Roboto;
    font-weight: 100;
    color: orangered;
    font-size: 25px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

header p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    color: white;
}

.navegacao {
   font-size: 18px;
   padding: 5px;
}

a {
    text-decoration: none;
    color:#A1104C;
    font-family: Roboto;
    font-weight: 200;
}
a:visited {
    color: #A1104C;
}

a:active {
    color: orangered;
}

a:hover {
    color: #ff006a;
}

h3 {
    font-size: 22px;
    color: orangered;
    font-family: Roboto;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
}

p {
    font-size: 19px;
    color: purple;
    font-family: frutiger;

}

article [
    width: 70%;
]

Table {
	border: 15px solid #E4C5FF;
    align: center;
	padding: 4px;
	margin: 10px;
    border: solid 2px #AF094D;
	color: purple;
	border-collapse: collapse;	
}

Table thead th {
	border: 2px solid #E4C5FF;
	font-family: sans-serif ;
	font-weight: bolder;
	font-size: 20px;
	font-family: Calibri;
	text-align: Left;
	background-color: #F3E5F5;
}

Table tbody td {
	border: 1px solid #E4C5FF;
	font-family: serif;
	font-family: Times New Roman;
	font-size: 18px;
	text-align: left;
}

table tbody tr:hover {
	color: blueviolet;
	background-color: lightgrey;
}

Table tfoot td {
	font-weight: bolder;
	font-size: 20px;
	border: 1px solid #E4C5FF;
	text-align: left;
    background-color: #CE93D8;
}

tr:nth-child(even) {
  background-color: #f2e4f5;
}


footer {
    display: inline-block;
    width: 100%;
    padding: 5px;
    margin: 2px;
    text-align: center;
    background-color: #AF094D;
}

footer p {
    font-family: Roboto;
    color: white;
    font-size: 18px;
}