*{
    width: 100%;
}


html {
    font: sans-serif;
    background-color: white;
    padding: 15px;
}

@media (max-width: 768px) {
    .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      }

    nav {
        overflow-wrap: break-word;
    }

    article {
        width: 70vw;
    }

    header {
        padding: 10px;
    }

    header h2 {
        font-weight: 700;
        font-size: 20px;
    }

    header h3 {
        font-weight: 100;
        font-size: 18px;
        padding: 20px;
    }

    header p {
        font-weight: 400;
        font-size: 16px;
    }

    nav h3 {
        font-size: 18px;
        padding-left: 10px;
    }

    a {
        font-size: 14px;
     }


    p {
        font-size: 10px;
    }

    Article {
        font-size: 15px;
    }

    Article label {
        font-size: 15px;
    }

}

@media (max-width: 425px) {

    .left, .main, .right {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
      }

    nav {
          overflow-wrap: break-word;
    }

    header h2 {
        font-weight: 400;
        font-size: 15px;
    }

    header h3 {
        font-weight: 100;
        font-size: 10px;
    }

    header p {
        font-weight: 400;
        font-size: 10px;
    }
   

    nav h3 {
        font-size: 12.5px;
    }

    a {
        font-size: 9px;
    }


    p {
        font-size: 13px;
    }

    
    article {
        font-size: 13px;
    }

    article label {
        font-size: 13px;
    }
}

nav {
    display: block;
    float: left;
    width: 20%;
    padding: 5px;
    border: solid 3px #FF006A;
    color: #A1104C;
    margin: 10px;
    background-color: #FFE2EE;  
}
  
  #checkbox-menu{
    position: absolute;
    opacity: 0;
  }
  
  label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 22px;
    width: 30px;
  }
  
  label span {
    position: absolute;
    display: block;
    height: 5px;
    width: 100%;
    border-radius: 30px;
    background: #f16234;
    transition: 0.25s ease-in-out;
  }
  
  label span:nth-child(1) {
    top: 0;
  }
  
  label span:nth-child(2) {
    top: 8px;
  }
  
  label span:nth-child(3) {
    top: 16px;
  }
  
  #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 8px;
  }
  
  #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
  }
  
  #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top:8px;
  }

.dropbtn {
  background-color: #fd21e0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(204, 0, 126);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: rgb(248, 122, 4);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #fa6023;}


header {
    display: block;
    width: 100%;
    background-color: #AF094D;
    padding: 10px;
    color: white;
    text-align: center;
    border-bottom: solid 20px white;
}

li {
    list-style-type: none
}

header h2 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 35px;
}

header h3 {
    font-family: Roboto;
    font-weight: 100;
    color: orangered;
    font-size: 25px;
    text-align: center;
    background-color: white;
    padding: 20px;
}

header p {
    font-family: Roboto;
    font-weight: 700;
    font-size: 25px;
    color: white;
}


.navegacao {
   font-size: 18px;
   padding: 5px;
}

a {
    text-decoration: none;
    color:#A1104C;
    font-family: Roboto;
    font-weight: 200;
}
a:visited {
    color: #A1104C;
}

a:active {
    color: orangered;
}

a:hover {
    color: #ff006a;
}

h3 {
    font-size: 22px;
    color: orangered;
    font-family: Roboto;
    font-weight: 700;
    text-align: left;
    padding-left: 10px;
}

p {
    font-size: 19px;
    color: purple;
    font-family: frutiger;

}

article {
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    border: solid 2px #FF006A;
    font-family: Frutiger;
    text-align: center;
    background-color: white;
}

article h3 {
    text-align: center;
}

article h2 {
    font-family: Roboto;
    color: #A1104C;
    text-align: center;
    font-size: 31px;
}
article div {
    border-bottom: solid 1px #FF006A;
    background-color: #FFE2EE;
    padding: 5px;
    display: block;
}

article label {
    font-family: Roboto;
    font-weight: 200;
    color: orangered;
    font-size: 20px;
    text-align: center;
}

footer {
    display: inline-block;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #AF094D;
}

footer p {
    font-family: Roboto;
    color: white;
    font-size: 18px;
}


