html {
    font-size: 62.5%;
}

body {
    background-color: rgb(240, 245, 247);
    font-family: 'Roboto', sans-serif;
}


.main-container {
    width: 100vw;
    display: block;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

Header {
    background-color: #ffffff;
    display: block;
    float: left;
    padding: 20px;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: solid 1.5px blue;
}

header img {
    max-width: 250px;
    height: auto;
}

section {
    font-size: 1.5rem;
    max-width: 100vw;
    float: left;
    background-color: #ffffff;
}

section nav {
    display: block;
    float: left;
    width: 25%;
    margin-top: 3px;
}

nav li {
    background-color: rgb(12, 12, 158);
    margin: 5px 15px 1.5px 25px;
    padding: 10px;
}

nav li:hover {
    background-color: rgb(240, 245, 247);
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

nav a:hover {
    color: blue;
}


section article {
    background-color: #ffffff;
    display: block;
    float: left;
    width: 70%;
    font-size: 13px;
    margin: 10px 0 15px 10px;

}

.article_img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

article h1 {
    font-size: 2.4rem;
    color: blue;
    margin-bottom: 20px;
}

article h2 {
    font-size: 2rem;
    color: rgb(47, 47, 252);
    margin-bottom: 15px;
}

article h3 {
    font-size: 1.8rem;
    color: rgb(12, 12, 158);
    margin: 20px 0 10px 0;
}

ol {
    padding: 15px;
}

ol li {
    font-size: 1.4rem;
    margin-bottom: 5px;
    color:#3d3a37;
}


article p {
    margin-bottom: 10px;
    font-size: 1.5rem;
    line-height: 1.4;
    color:#302f2e;
}

.cog-cognito {
   height: 620px !important;
   overflow: hidden !important;
   padding: 20px !important;
   border: solid 1px coral !important;
}

footer {
background-color: blue;
text-align: center;
color: #ffffff;
font-size: 1.4rem;
float: left;
width: 100vw;
padding: 20px;
}

footer small {
    margin-top: 3px;
    font-size: 80%;
    display: block;
    text-align: center;
}

@media (max-width: 450px) {

section article, section nav { 
    width: 100%;
}

header img {
    max-width: 150px;
    height: auto;
}

.cog-cognito {
    height: 769px !important;
    overflow: hidden !important;
    padding: 20px !important;
    border: solid 1px coral !important;
 }
 
}

@media (min-width: 450px; max-width: 770px) {

    .cog-cognito {
        height: 760px !important;
        overflow: hidden !important;
        padding: 20px !important;
        border: solid 1px coral !important;
     }  
}